@tailwind base;
@tailwind components;
@tailwind utilities;

/* *** Global Style goes Here *** */
/* body {
	font-family: 'Poppins', sans-serif;
} */
.active {
	background-color: #fb016f !important;
	color: #fff !important;
	font-weight: 500;
}
